.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.door {
  position: absolute;
  top: 45px;
  left: 0px;
  font-size: large;
}
.dooor {
  position: absolute;
  top: 45px;
  left: 471px;
  font-size: large;
}

.bonelabel {
  position: absolute;
  top: 60px;
  left: 50px;
}
.eight {
  position: absolute;
  top: 60px;
  left: 53px;
  font-size: large;
}

.nine {
  position: absolute;
  top: 60px;
  left: 75px;
  font-size: large;
}
.ten {
  position: absolute;
  top: 60px;
  left: 97px;
  font-size: large;
}
.one {
  position: absolute;
  top: 60px;
  left: 119px;
  font-size: large;
}
.two {
  position: absolute;
  top: 60px;
  left: 141px;
  font-size: large;
}
.tree {
  position: absolute;
  top: 60px;
  left: 163px;
  font-size: large;
}
.four {
  position: absolute;
  top: 60px;
  left: 185px;
  font-size: large;
}
.five {
  position: absolute;
  top: 60px;
  left: 207px;
  font-size: large;
}
.six {
  position: absolute;
  top: 60px;
  left: 229px;
  font-size: large;
}
.seven {
  position: absolute;
  top: 60px;
  left: 251px;
  font-size: large;
}
.eightt {
  position: absolute;
  top: 60px;
  left: 273px;
  font-size: large;
}
.ninee {
  position: absolute;
  top: 60px;
  left: 295px;
  font-size: large;
}
.tenn {
  position: absolute;
  top: 60px;
  left: 317px;
  font-size: large;
}
.eleven {
  position: absolute;
  top: 60px;
  left: 348px;
  font-size: large;
}
.twelve {
  position: absolute;
  top: 60px;
  left: 379px;
  font-size: large;
}
.thirteen {
  position: absolute;
  top: 60px;
  left: 410px;
  font-size: large;
}
.fourteen {
  position: absolute;
  top: 60px;
  left: 441px;
  font-size: large;
}

.Btwo {
  position: absolute;
  top: 100px;
  left: 400px;
  font-size: larger;
}
.btwolabel {
  position: absolute;
  transform: rotate(90deg);
  top: 114px;
  left: 395px;
}

.Btreefour {
  position: absolute;
  top: 100px;
  left: 300px;
  font-size: larger;
}
.btreelabel {
  position: absolute;
  transform: rotate(90deg);
  top: 114px;
  left: 328px;
}
.bfourlabel {
  position: absolute;
  transform: rotate(270deg);
  top: 114px;
  left: 250px;
}

.Bfivesix {
  position: absolute;
  top: 100px;
  left: 190px;
  font-size: larger;
}

.bfivelabel {
  position: absolute;
  transform: rotate(90deg);
  top: 115px;
  left: 220px;
}
.bsixlabel {
  position: absolute;
  transform: rotate(270deg);
  top: 115px;
  left: 140px;
}

.Bseveneight {
  position: absolute;
  top: 100px;
  left: 80px;
  font-size: larger;
}
.bsevenlabel {
  position: absolute;
  transform: rotate(90deg);
  top: 115px;
  left: 110px;
}
.beightlabel {
  position: absolute;
  transform: rotate(270deg);
  top: 115px;
  left: 30px;
}

.Bnine {
  position: absolute;
  left: 0px;
  top: 100px;
  font-size: larger;
}
.bninelabel {
  position: absolute;
  transform: rotate(90deg);
  top: 115px;
  left: 0px;
}

.Bseventeen {
  position: absolute;
  left: 0px;
  top: 470px;
  font-size: larger;
}
.bseventeenlabel {
  position: absolute;
  left: 0px;
  top: 490px;
  transform: rotate(90deg);
}

.Bfifteensixteen {
  position: absolute;
  left: 80px;
  top: 470px;
  font-size: larger;
}
.bfifteenlabel {
  position: absolute;
  left: 120px;
  top: 493px;
  transform: rotate(90deg);
}
.bsixteenlabel {
  position: absolute;
  left: 25px;
  top: 493px;
  transform: rotate(270deg);
}
.Bterteenfourteen {
  position: absolute;
  left: 190px;
  top: 470px;
  font-size: larger;
}
.bterteenlabel {
  position: absolute;
  left: 228px;
  top: 493px;
  transform: rotate(90deg);
}
.bfourteenlabel {
  position: absolute;
  left: 135px;
  top: 493px;
  transform: rotate(270deg);
}
.Beleventwelve {
  position: absolute;
  left: 300px;
  top: 470px;
  font-size: larger;
}

.belevenlabel {
  position: absolute;
  transform: rotate(90deg);
  top: 487px;
  left: 335px;
}
.btwelvelabel {
  position: absolute;
  transform: rotate(270deg);
  top: 491px;
  left: 248px;
}

.Bten {
  position: absolute;
  top: 470px;
  left: 400px;
  font-size: larger;
}

.btenlabel {
  position: absolute;
  transform: rotate(90deg);
  top: 489px;
  left: 395px;
}

.Btwentyfive {
  position: absolute;
  left: 0px;
  top: 850px;
  font-size: larger;
}
.btwentyfivelabel {
  position: absolute;
  left: -2px;
  top: 872px;
  transform: rotate(90deg);
}

.Btwentytreeandfour {
  position: absolute;
  left: 80px;
  top: 850px;
  font-size: larger;
}
.btwentytreelabel {
  position: absolute;
  left: 120px;
  top: 872px;
  transform: rotate(90deg);
}
.btwentyfourlabel {
  position: absolute;
  left: 26px;
  top: 872px;
  transform: rotate(270deg);
}
.Btwentyoneandtwo {
  position: absolute;
  left: 190px;
  top: 850px;
  font-size: larger;
}
.btwentyonelabel {
  position: absolute;
  left: 230px;
  top: 872px;
  transform: rotate(90deg);
}
.btwentytwolabel {
  position: absolute;
  left: 135px;
  top: 873px;
  transform: rotate(270deg);
}
.Bninteentwenty {
  position: absolute;
  left: 300px;
  top: 850px;
  font-size: larger;
}

.bnineteenlabel {
  position: absolute;
  transform: rotate(90deg);
  top: 872px;
  left: 340px;
}
.btwentylabel {
  position: absolute;
  transform: rotate(270deg);
  top: 872px;
  left: 245px;
}

.Beighteen {
  position: absolute;
  top: 850px;
  left: 400px;
  font-size: larger;
}

.beighteenlabel {
  position: absolute;
  transform: rotate(90deg);
  top: 872px;
  left: 398px;
}

.Bthirtytree {
  position: absolute;
  left: 0px;
  top: 1250px;
  font-size: larger;
}
.bthirtytreelabel {
  position: absolute;
  left: -3px;
  top: 1273px;
  transform: rotate(90deg);
}

.Bthirtyonetwo {
  position: absolute;
  left: 80px;
  top: 1250px;
  font-size: larger;
}
.bthirtyone {
  position: absolute;
  left: 120px;
  top: 1272px;
  transform: rotate(90deg);
}
.bthirtytwolabel {
  position: absolute;
  left: 23px;
  top: 1272px;
  transform: rotate(270deg);
}
.Btwentyninezero {
  position: absolute;
  left: 190px;
  top: 1250px;
  font-size: larger;
}
.btwentyninelabel {
  position: absolute;
  left: 229px;
  top: 1275px;
  transform: rotate(90deg);
}
.btreezerolabel {
  position: absolute;
  left: 135px;
  top: 1275px;
  transform: rotate(270deg);
}
.Btwentyseveneight {
  position: absolute;
  left: 300px;
  top: 1250px;
  font-size: larger;
}

.btwentysevenlabel {
  position: absolute;
  transform: rotate(90deg);
  top: 1272px;
  left: 338px;
}
.btwentyeightlabel {
  position: absolute;
  transform: rotate(270deg);
  top: 1274px;
  left: 244px;
}

.Btwentysix {
  position: absolute;
  top: 1250px;
  left: 400px;
  font-size: larger;
}

.btwentysixlabel {
  position: absolute;
  transform: rotate(90deg);
  top: 1273px;
  left: 398px;
}

.twoninefourfive {
  position: absolute;
  top: 1500px;
  left: 275px;
  font-size: medium;
}

.twoninefourfour {
  position: absolute;
  top: 1500px;
  right: 272px;
  font-size: medium;
}
.twoninefourtree {
  position: absolute;
  top: 1500px;
  right: 236px;
  font-size: medium;
}
.twoninefourtwo {
  position: absolute;
  top: 1500px;
  right: 200px;
  font-size: medium;
}
.twoninefourone {
  position: absolute;
  top: 1500px;
  right: 164px;
  font-size: medium;
}
.twoninefourty {
  position: absolute;
  top: 1500px;
  right: 128px;
  font-size: medium;
}
.twoninetreenine {
  position: absolute;
  top: 1500px;
  right: 92px;
  font-size: medium;
}
.twoninetreeeight {
  position: absolute;
  top: 1500px;
  right: 56px;
  font-size: medium;
}
.twoninetreeseven {
  position: absolute;
  top: 1500px;
  right: 20px;
  font-size: medium;
}
.twoninetreesix {
  position: absolute;
  top: 1500px;
  right: -16px;
  font-size: medium;
}
.twoninetreefive {
  position: absolute;
  top: 1500px;
  right: -52px;
  font-size: medium;
}
.twoninetreefour {
  position: absolute;
  top: 1500px;
  left: 58px;
  font-size: medium;
}
.twoninetreetree {
  position: absolute;
  top: 1500px;
  left: 94px;
  font-size: medium;
}
.twoninetreetwo {
  position: absolute;
  top: 1500px;
  left: 130px;
  font-size: medium;
}
.twoninetreeone {
  position: absolute;
  top: 1500px;
  left: 166px;
  font-size: medium;
}
.twoninetree {
  position: absolute;
  top: 1500px;
  left: 202px;
  font-size: medium;
}
.twoninetwentynine {
  position: absolute;
  top: 1500px;
  left: 238px;
  font-size: medium;
}
.last {
  position: absolute;
  top: 1563px;
  left: 470px;
}
