<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- ========== Boxicons ========== -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- ========== My CSS ========== -->
	<link rel="stylesheet" href="static/style.css">

	<title>THCC Payment Records</title>
</head>
<body>



	<!-- ========== SIDEBAR ========== -->
	<section id="sidebar" >
		<a href="{{ url_for('index') }}" class="brand">
			<i class='bx bxs-church'></i>
			<span class="text">THCC Web App</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="{{ url_for('index') }}" title="Dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('unit_mgmt') }}" title="Unit Management">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Unit Management</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('unit_record') }}" title="Unit Records">
					<i class='bx bxs-folder' ></i>
					<span class="text">Unit Records</span>
				</a>
			</li>
            <li class="active">
				<a href="{{ url_for('payment_record') }}" title="Payment Records">
					<i class='bx bxs-bank' ></i>
					<span class="text">Payment Records</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('users_mgmt') }}" title="Users Management">
					<i class='bx bxs-user' ></i>
					<span class="text">Users Management</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('login') }}" class="logout" title="Log Out">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- ========== END OF SIDEBAR ========== -->



	<!-- ========== CONTENT ========== -->
	<section id="content">


		<!-- ========== NAVBAR ========== -->
		<nav>
			<i class='bx bx-menu' ></i>
			<form action="#"></form>
			<a href="#" class="profile">
                <i class='bx user-circle' ></i>
				<!-- <img src="img/people.png"> -->
                <h4>USER ROLE</h4>
			</a>
		</nav>
		<!-- ========== END OF NAVBAR ========== -->



		<!-- ========== MAIN ========== -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Payment Records</h1>
				</div>
			</div>


			<!-- ========== SEARCH ========== -->
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search record" title="Enter your search item">
					<button type="submit" class="search-btn" title="Search"><i class='bx bx-search' ></i></button>
				</div>

			</form>
			<!-- ========== END OF SEARCH ========== -->

			<!-- <div class="add-import">
				<button id="newpayment-show">Add New Payment<i class='bx bx-plus'></i></button>

			</div>

			<div id="newpaymentmodal">
				<div class="modal">
					<div class="top-form">
						<div class="close-modal">&#10006;</div>
					</div>

					<div class="login-form">
						<h2>ADD NEW PAYMENT</h2>

						<form id="newpayment-form" action="/" method="/">
							<input type="text" class="form-control" name="text" placeholder="Name">
							<input type="text" class="form-control" name="text" placeholder="Sitio/Barangay, Municipality, City/Province" >
							
							<div class="newpayment-input-box">
								<label for="unitLocation">Unit Location:</label>
								<div class="select-box-record">
										<select name="" id="quadrant">
											<option value="">Quadrant</option>
										</select>
										<select name="" id="block">
											<option value="">Block</option>
										</select>
										<select name="" id="unit">
											<option value="">Unit</option>
										</select>
								</div>
							</div>
							<div class="newpayment-input-box">

															<label for="unitLocation">Payment Details</label>
							<div class="select-box">
								<select name="user_role" id="user_role" required>
									<option hidden>Select Payment Plan</option>
									<option>St. Andrew Kim Plan</option>
									<option>St. Ignatius Kim Plan</option>
									<option>St. Paul Chong Plan</option>
									<option>Ven. Choe Thomas Plan</option>
								</select>
							</div>

							<div class="paymentdetails">
								
									<input type="date" class="form-control" name="text" placeholder="Date" >
									<input type="text" class="form-control" name="text" placeholder="Amount" >
									<input type="number" class="form-control" name="text" placeholder="Receipt Number" >

							</div>
							</div>


							<div class="form-element">
								<button >ADD NEW PAYMENT</button>						
							</div>
						</form>
					</div>
					
				</div>
			</div> -->


			<div class="table-data">
				<div class="order">
					
					<table>
						<thead>
							<tr>
								<th>CRU Contract No.</th>
								<th>Unit Location</th>
								<th>Name</th>
								<th>Address</th>
								<th>CAT Parcel Lot No.</th>
								<th>Receipt No.</th>
								<th>Date</th>
								<th>Amount</th>
								<th>Action</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<button id="editpayment-show" class="editrecord-button" title="View and edit record">
										<i class='bx bxs-edit'></i></button>  
									<button class="deleterecord-button" title="Delete record">
										<i class='bx bxs-trash'></i></button>


									<!-- <button id="edit-show" class="editrecord-button"><i class='bx bxs-edit'></i></button>  
									<button class="deleterecord-button"><i class='bx bxs-trash' onclick="return confirm('Are You Sure To Delete ?')"></i></i></button>  -->
								</td>
							</tr>
						</tbody>
					</table>
				</div>
            </div>


			<div id="editpaymentmodal">
				<div class="modal">
					<div class="top-form">
						<div class="close-modal">&#10006;</div>
					</div>

					<div class="login-form">
						<h2>EDIT PAYMENT DETAILS</h2>

						<form id="editpayment-form" action="/" method="/">
								<input type="text" class="form-control" name="text" placeholder="Name">
								<input type="text" class="form-control" name="text" placeholder="Sitio/Barangay, Municipality, City/Province" >							
							<div class="newpayment-input-box">
								<label for="unitLocation">Unit Location</label>
								<div class="select-box-record" >
										<select name="" id="quadrant">
											<option value="">Quadrant</option>
										</select>
										<select name="" id="block">
											<option value="">Block</option>
										</select>
										<select name="" id="unit">
											<option value="">Unit</option>
										</select>
								</div>
							</div>
							<div class="newpayment-input-box">

							<label for="unitLocation">Payment Details</label>
							<div class="select-box">
								<select name="user_role" id="user_role" required>
									<option hidden>Select Payment Plan</option>
									<option>St. Andrew Kim Plan</option>
									<option>St. Ignatius Kim Plan</option>
									<option>St. Paul Chong Plan</option>
									<option>Ven. Choe Thomas Plan</option>
								</select>
							</div>

							<div class="paymentdetails">
								
									<input type="date" class="form-control" name="text" placeholder="Date" >
									<input type="text" class="form-control" name="text" placeholder="Amount" >
									<input type="number" class="form-control" name="text" placeholder="Receipt Number" >

							</div>
							</div>


							<div class="form-element">
								<button >SAVE CHANGES</button>						
							</div>
						</form>
					</div>
					
				</div>
			</div>

		</main>
		<!-- ========== END OF MAIN ========== -->

	</section>
	<!-- ========== END OF CONTENT ========== -->




	<script src="static/script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="static/addnewuser.js"></script>

	

</body>
</html>