<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- ========== Boxicons ========== -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- ========== My CSS ========== -->
	<link rel="stylesheet" href="static/style.css">

	<title>THCC Unit Records</title>
</head>
<body>




	<!-- ========== SIDEBAR ========== -->
	<section id="sidebar" class="hide">
		<a href="{{ url_for('index') }}" class="brand">
			<i class='bx bxs-church'></i>
			<span class="text">THCC Web App</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="{{ url_for('index') }}" title="Dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('unit_mgmt') }}" title="Unit Management">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Unit Management</span>
				</a>
			</li>
			<li class="active">
				<a href="{{ url_for('unit_record' ) }}" title="Unit Records">
					<i class='bx bxs-folder' ></i>
					<span class="text">Unit Records</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('payment_record') }}" title="Payment Records">
					<i class='bx bxs-bank' ></i>
					<span class="text">Payment Records</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('users_mgmt') }}" title="Users Management">
					<i class='bx bxs-user' ></i>
					<span class="text">Users Management</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('login') }}" class="logout" title="Log Out">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- ========== END OF SIDEBAR ========== -->



	<!-- ========== CONTENT ========== -->
	<section id="content">
		<!-- ========== NAVBAR ========== -->
		<nav>
			<i class='bx bx-menu' ></i>
			<form action="#"></form>
			<a href="#" class="profile">
                <i class='bx user-circle' ></i>
				<!-- <img src="img/people.png"> -->
                <h4>Columbarium Representative</h4>
			</a>
		</nav>
		<!-- ========== END OF NAVBAR ========== -->
	
		<!-- ========== MAIN ========== -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Unit Records</h1>
				</div>
				
			</div>

			<!-- ========== SEARCH ========== -->
			<form method="post" action="{{ url_for('unit_record') }}" enctype="multipart/form-data" id="upload-form">
				<div class="form-input">
					<input type="search" placeholder="Search records" title="Enter your search item">
					<button type="submit" class="search-btn" title="Search"><i class='bx bx-search' ></i></button>
				</div>

				<div class="add-import">
					<button type="sortfilter" class="sortfilter-btn">Filter<i class='bx bx-filter-alt' ></i></button>
					<!--binago ko yung button kasi need naka input yan kasi kukunin yung file from file manager-->
					<label for="file-input" class="import-btn" title="Upload file">Import Records<input type="file" name="file" id="file-input" style="display: none;"><i class="bx bx-import"></i></label>
					
					<a href="#" class="btn-download">
						<i class='bx bxs-cloud-download' ></i>
						<span class="text" title="Download">Download Report</span>
					</a>
				</div>
			</form>
						
			<!-- ========== ADD NEW RECORD ========== -->
			<div class="add-import">
				<button id="newrecord-show" title="Add new record"><i class='bx bx-plus'></i>Add New Record</button>
			</div>

			<div id="newrecordmodal">
				<div class="modal">
					<div class="top-form">
						<div class="close-modal" title="Close">&#10006;</div>
					</div>

					<div class="login-form">
						<h2>ADD NEW RECORD</h2>

						<!-- flash messages -->
						{% with messages = get_flashed_messages(with_categories=true) %}
						{% for category, message in messages %}
						<div class="alert alert-{{ category }}">
							{{ message }}
						</div>
						{% endfor %}
						{% endwith %}


						<form id="newrecord-form" action="/add_record" method="POST">
								<input type="text" class="form-control" name="text" placeholder="Name">
								<input type="text" class="form-control" name="text" placeholder="Sitio/Barangay, Municipality, City/Province" >
							<div class="input-box">
								<label for="unitLocation">Unit Location:</label>
								<div class="select-box-record">
										<select name="" id="quadrant">
											<option value="">Quadrant</option>
										</select>
										<select name="" id="block">
											<option value="">Block</option>
										</select>
										<select name="" id="unit">
											<option value="">Unit</option>
										</select>
								</div>
							</div>

							<div class="form-element">
								<button onclick="concatenateNames()">CREATE NEW RECORD</button>						
							</div>
						</form>
					</div>
					
				</div>
			</div>
			<!-- ========== END OF SEARCH ========== -->

			<div class="table-data">
				<div class="order">
					
					<table>
						<thead>
							<tr>
								<th>Record ID</th>
								<th>Unit Location</th>
								<th>Name</th>
								<th>Address</th>
								<th>Receipt No.</th>
								<th>Date</th>
								<th>Amount</th>
								<th>Payment Status</th>
								<th>Action</th>

							</tr>
						</thead>
						<tbody>
							{% for record in unit_records %}

							<tr>
								<td>{{ record.record_id }}</td>
								<td>{{ record.unit_location }}</td>
								<td>{{ record.name }}</td>
								<td>{{ record.address }}</td>
								<td>{{ record.receipt }}</td>
								<td>{{ record.date_paid }}</td>
								<td>{{ record.amount_paid }}</td>
								<td>{{ record.payment_status }}</td>
								<td>
									<button id="editunit-show" class="editrecord-button" title="View and edit record">
										<i class='bx bxs-edit'></i></button>  
									<button class="deleterecord-button" onclick="confirmDelete('')" title="Delete record">
										<i class='bx bxs-trash'></i></button>


									<!-- <button id="edit-show" class="editrecord-button"><i class='bx bxs-edit'></i></button>  
									<button class="deleterecord-button"><i class='bx bxs-trash' onclick="return confirm('Are You Sure To Delete ?')"></i></i></button>  -->
								</td>
							</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>

			<div id="editunitrecordmodal">
				<div class="modal">
					<div class="top-form">
						<div class="close-modal" title="Close">&#10006;</div>
					</div>					

					<div class="login-form">
						<h2>EDIT RECORD DETAILS</h2>

						<form id="editrecord-form" action="/update_unit_record" method="POST">
								<input type="text" class="form-control" name="text" placeholder="Name">
								<input type="text" class="form-control" name="text" placeholder="Sitio/Barangay, Municipality, City/Province" >
							<div class="input-box">
								<label for="unitLocation2">Unit Location:</label>
								<div class="select-box-record">
										<select name="quadrant2" id="quadrant2">
											<option value="">Quadrant</option>
										</select>
										<select name="block2" id="block2">
											<option value="">Block</option>
										</select>
										<select name="unit2" id="unit2">
											<option value="">Unit</option>
										</select>
								</div>
							</div>

							<div class="form-element">
								<button onclick="concatenateNames()">SAVE CHANGES</button>						
							</div>
						</form>
					</div>
					
				</div>
			</div>

		</main>
		<!-- ========== END OF MAIN ========== -->
	</section>
	<!-- ========== END OF CONTENT ========== -->




	<script src="static/script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="static/addnewuser.js"></script>
	<script>
		// Automatically submit the form when a file is selected
		document.getElementById('file-input').addEventListener('change', function() {
			document.getElementById('upload-form').submit();
		});
	</script>



</body>
</html>